<% layout("/layout/boilerplate") %>

   <body>
      <div class="row">
         <div class="col-6 offset-2  mt-2">
            <h2>List Details</h2>
            <div class=" card col-6">


               <img src="<%=listing.image%>" alt="list_img">

            </div>

         </div>

         <div class="col-6 offset-2">
            <div>
               <%=listing.title%>
            </div>
            <div>
               <%=listing.description%>

            </div>

            <div>
               <% if (listing.price !=null) { %>
                  &#8377;<%= listing.price.toLocaleString("en-IN") %>
                     <% } else { %>
                        <span>Price not available</span>
                        <% } %>
            </div>

            <div>
               <%=listing.location%>

            </div>

            <div>
               <%=listing.country%>
            </div>

            <div class="mb-3 mt-3">
               <button class=" btn show-btn"> <a href="/listing/<%=listing._id%>/edit"> Edit this listing</a></button>
            </div>
            <div class="mb-3">
               <form action="/listing/<%=listing._id%>?_method=DELETE" method="post">
                  <button class=" btn show-btn"> Delete this listing </button>
               </form>
            </div>

   </body>


   </div>

   </div>